@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'puremvcicons';
	src:url('../fonts/puremvcicons/puremvcicons.eot');
	src:url('../fonts/puremvcicons/puremvcicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/puremvcicons/puremvcicons.woff') format('woff'),
		url('../fonts/puremvcicons/puremvcicons.ttf') format('truetype'),
		url('../fonts/puremvcicons/puremvcicons.svg#puremvcicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

a {
	text-decoration: none;
	color: #fff;
}

nav {
	font-size: 16pt;
}
.container > header,
.puremvc-top {
	font-family: 'Lato', Arial, sans-serif;
	color: #fff;
	background: #3498db;
}

.container > header {
	margin: 0 auto;
	padding: 5.5em 2em 7em;
	text-align: center;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */
.puremvc-top {
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 400;
}

.puremvc-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #fff;
	display: inline-block;
}

.puremvc-top a:hover {
	color: #1a6292;
}

.puremvc-top span.right {
	float: right;
}

.puremvc-top span.right a {
	float: left;
	display: block;
}

.puremvc-icon:before {
	font-family: 'puremvcicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.related {
	background: #ecf0f1;
	color: #777;
	text-align: center;
}

.related a {
	font-weight: 700;
	color: #3498db;
	opacity: 0.7;
}

.related a:hover {
	opacity: 1;
}

@media screen and (max-width: 25em) {

	.puremvc-icon span {
		display: none;
	}

}